<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">TDM</a>
  <!--The below button will be useful in case of small width...provide the hamburger icon-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="#">Devices
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Users
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Notifications
          <span class="sr-only">(current)</span>
        </a>
      </li>

    </ul>

    <ul class="navbar-nav">

      <ng-template #anonymousUser>
        <li [routerLinkActive]= "['active']" class="nav-item">
          <a class="nav-link" routerLink="/signup">SignUp
            <span class="sr-only">(current)</span>
          </a>
        </li>
    
        <li [routerLinkActive]= "['active']" class="nav-item">
          <a class="nav-link" routerLink="/signin">SignIn
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ng-template>

      <li *ngIf="authService.user$ | async as user; else anonymousUser" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{ user.email }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>