<div class="card border-secondary" (click)="onCardClick()">

  <!-- <img class="card-img-top" [src]="device.deviceUrl" alt="Card image cap"> -->
  <div class="thumbnail" [style.backgroundImage]="'url('+device.deviceUrl+')'" alt="Card image cap"></div>

  <div class="card-body">
    <h6 class="card-title">{{ device.deviceName }}</h6>
    <p class="card-subtitle mb-2 font-size-small">
      <span *ngIf="device.deviceColor">{{ device.deviceColor }} |</span>
      <span *ngIf="device.deviceOs">{{ device.deviceOs }} |</span>
      <span *ngIf="device.deviceOsName">{{ device.deviceOsName }} |</span>
      <span *ngIf="device.deviceOsVersion">{{ device.deviceOsVersion }} |</span>
      <span *ngIf="device.deviceSize">{{ device.deviceSize}}</span>
    </p>
    <small>{{ device.deviceStatus }}
      <span *ngIf="userAssociatedDevice"> - {{ userAssociatedDevice.name }}</span>
    </small>

    <div>
      <small text-right>
        <span *ngIf="device.deviceAssetId">{{ device.deviceAssetId }} - </span>
        <span *ngIf="device.deviceInventoryId">{{ device.deviceInventoryId }}</span>
      </small>
    </div>
  </div>
  <!-- end of card body -->

  <div *ngIf="showActions" class="card-footer">
    <button *ngIf="requestButtonVisible || disableButton" [disabled]="disableButton" (click)="onRequestDeviceClick(device)" class="btn btn-primary btn-block">Request Device</button>
    <button *ngIf="cancelRequestVisible" (click)="onCancelRequestClick(device)" class="btn btn-secondary btn-block">Cancel Request</button>
    <button *ngIf="returnRequestVisible" (click)="onReturnRequestClick(device)" class="btn btn-secondary btn-block">Return Request</button>
  </div>
  <!-- end of card footer -->

</div>
<!-- end of card -->